@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/Emi-LOGO.jpg";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">

            @Html.Action("TaxTypeSelector", "Common")

            @Html.Action("CurrencySelector", "Common")

            @Html.Action("LanguageSelector", "Common")

            @Html.Widget("header_selectors")
        </div>

        <div class="header-selectors-wrapper">

            <ul class="top-bar-menu ">
                <li id="menu-item-2918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2918"><a href="http://spani%20class=fa%20fa-phone/i+84777561881/span"><span><img src="/Themes/DefaultClean/Content/images/icon_phone_small.png" /> +777561881</span></a></li>
                <li id="menu-item-2919" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2919"><a href="https://www.facebook.com/Hangxachtay.EMI"><span><img src="/Themes/DefaultClean/Content/images/facebook-icon-small.png" /> Fanpage</span></a></li>
                <li id="menu-item-2920" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2920"><a href="https://www.google.com/maps/place/8+%C4%90%C6%B0%E1%BB%9Dng+s%E1%BB%91+8,+T%C4%83ng+Nh%C6%A1n+Ph%C3%BA+B,+Qu%E1%BA%ADn+9,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/10.8343985,106.7745972,17z/data=!3m1!4b1!4m5!3m4!1s0x31752706a89b83df:0x74352fe40ef34eea!8m2!3d10.8343985!4d106.7767859"><span><img src="/Themes/DefaultClean/Content/images/map.favicon.ico" /> Xem bản đồ địa chỉ shop</span></a></li>
            </ul>
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
        </div>
        <div class="" search-box store-search-box">
            <a href="~/thanh-toan-khi-nhan-hang/">
                <span>
                    <img align="middle" width="54" height="54" src="/Themes/DefaultClean/Content/images/thanh-toan-khi-nhan-hang-web.png" class="attachment-full size-full wp-post-image" alt="CÁCH MUA HÀNG TẠI EMI">
                    CÁCH MUA HÀNG TẠI EMI
                </span>
            </a>
        </div>
        <div class="search-box store-search-box">
            <a href="~/order-hang-duc/">
                <span>
                    <img align="middle" width="54" height="54" src="/Themes/DefaultClean/Content/images/order-hang-duc-web.png" class="attachment-full size-full wp-post-image" alt="order-hang-duc web">
                    NHẬN ORDER HÀNG TỪ ĐỨC
                </span>
            </a>
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>
<style>
    .top-bar-menu > li {
        display: inline-block;
        padding: 10px 5px;
        font-size: 12px;
        color: black;
    }
</style>